<div class="navbar_header">
    <a href="/admin">Main</a>
    <!-- <a href="#news">News</a> -->
    <div class="dropdown_header">
      <button class="dropbtn">Manage
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown_header-content">
        <a href="/admin/user">User</a>
        <a href="/admin/Type-Of-Products">Type Of Products</a>
        <a href="/admin/Origin-Of-Products">Origin</a>
        <a href="/admin/Products">Product</a>
        <a href="/admin/Bills">Bills</a>
        <a href="/admin/statistic">Statistic</a>
      </div>
    </div> 
    <a href="/customer/login">Website</a>
    <div class="dropdown_header dropdown_header_icon">
      <button class="dropbtn">
        <i class="fa fa-caret-down"></i>
        <i class="fa fa-user icon"></i>
      </button>
      <div class="dropdown_header-content">
        <a href="#">Change Password</a>
        <a href="/admin/login">Log out</a>
        <!-- <a href="#">Link 3</a> -->
      </div>
    </div> 
  </div>